<h1>Editing Book</h1>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %>  prohibited this book from being saved:</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_with model: @book do |f| %>
<p>本のタイトル</p>
<%= f.text_field :title %>
<p>感想</p>
<%= f.text_area :body %>
<br>
<%= f.submit 'Update Book' %>
<%= link_to "Show", book_path  %>
<%= link_to "Back", 'javascript:history.back(-3)' %>
<% end %>
