<div class="flash">
  <%= flash[:notice]  %>
</div>

<p>本のタイトル:
<span><%= @book.title %></span></p>

<p>感想:
<span><%= @book.body %></span></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", 'javascript:history.back(-3)' %>

