<div>
<%= flash[:notice] = "Book was successfully created." %>
</div>

<p>本のタイトル:
<span><%= @book.body %></span></p>

<p>感想:
<span><%= @book.title %></span></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", 'javascript:history.back(-2)' %>

